:root{
    --note-color: #ff0000;
}

body.dark-mode{
    --note-color: #ff1904;
}

.instructions_wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2rem;
    margin-top: -5rem;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.instructions-and-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
}

.hq-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
}

.instructions-container {
    flex-basis: 60%;
    margin-left: 1rem;
    color: var(--text-color);
    box-sizing: border-box;
}

.instructions-container{
    margin-top: -1.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.instructions-container ol {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
}

.welcome{
    font-size: 2.5rem;
    margin-bottom: -1rem;
    margin: 1rem;
}

.welcome strong{
    color: var(--h1-color);
}

.instructions_sub{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

.instructions-container ol {
    list-style-type: disc;
}

.instructions-container li {
    font-size: 1.2rem;
    font-weight: 100;
}

.instruction_link{
    text-decoration: underline;
    font-weight: 700;
}

.instructions-container li strong {
    color: var(--primary-color);
}

.note strong{
    color: var(--note-color);
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.enjoy {
    margin-top: 0rem;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 700;
}

.important{
  margin-top: -1em;
  font-weight: 700;
  font-size: 1.2rem;
}

.important strong{
  color: var(--primary-color);
}

.note {
    font-size: 1.2rem;
    color: var(--note-color);
    font-weight: 700;
    margin-top: -0.2rem;
}

/* Responsive Design */
@media (max-width: 768px) {

  .instructions_wrapper {
    margin-top: -4.5rem;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
  }

  .instructions-and-image {
    flex-direction: column;
    width: 100%;
  }

  .instructions-container {
    margin: -2.5rem 0 0 0;
    width: 100%;
  }

  .welcome {
    font-size: 1.4rem;
  }

  .instructions_sub {
    font-size: 1rem;
  }

  .instructions-container p {
    margin-bottom: -0.5rem;
  }

  .instructions-container li {
    font-size: 1rem;
    line-height: 1.6;
  }

  .instructions-container .enjoy {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .image-container {
    width: 100%;
    margin-top: -1rem;
    display: flex;
  }

  .hq-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .important {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}