:root {
  --primary-color: #007bff;
  --bg-color: #f6f7f8;
  --text-color: #222;

  --h1-color: #004080;
}

body.dark-mode {
  --primary-color: #90caf9;
  --bg-color: #121212;
  --text-color: #ffffff;

  --h1-color: #90caf9;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Markazi Text', serif;
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Markazi Text', serif;
}

/* Container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 2rem;
  gap: 2rem;
  overflow: hidden;
}

.top-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
  min-width: 0;
}

.toggle-wrapper{
  display: none;
}

/* Logo Section */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin: -1rem 0rem 0rem 1rem;
  width: 100px;
  height: auto;
}

/* Logo Text */
.logo-text {
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0 2rem;
  color: var(--h1-color);
}

/* Navigation Links */
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--h1-color);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--h1-color);
  transform: scale(1.05);
}

.nav-links a:hover::after {
  width: 100%;
}

/* Toggle Mode */
.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: -1rem;
  margin-left: 2rem;
  z-index: 2;
}

.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: var(--text-color);
  margin: 2px 0;
  transition: all 0.3s ease;
}

/* Responsive Styles */
/* Mobile layout changes */
@media (max-width: 768px) {

  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .logo-container {
    margin-left: -1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .logo{
    width: 60px;
  }

  .logo-container h1 {
    font-size: 1.2rem;
  }

  .hamburger {
    display: flex;
  }

  .toggle-wrapper {
    justify-content: flex-end;
    margin: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
    width: 100%;
    background-color: var(--bg-color);
    border-top: 5px solid #ddd;
    margin-top: -2.5rem;
    margin-bottom: 0.3rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .nav-links.open {
    max-height: 12rem;
    padding: 1rem 0;
    opacity: 1;
    transform: translateY(0);
  }

  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}